### Contents:
    01 Importing libraries and data
    02 Data exploration
    03 Wrangling
    04 Export

# Cleaning departments df

## 01 Importing libraries and data

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/Emily/Documents/CF Data Analysis Program/Immersion 4/Instacart Basket Analysis'

In [3]:
df = pd.read_csv(os.path.join(path, '02 Data', 'original data', 'departments.csv'), index_col = False)

## 02 Initial exploration

In [4]:
# view the top 5 rows and all column names
# this is in wide format, but would be better in tall/long format
df.head()

,department_id,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

## 03 Wrangling

In [11]:
# take the transpose
df_t = df.T

In [12]:
df_t.head()

                        0
department_id  department
1                  frozen
2                   other
3                  bakery
4                 produce

In [14]:
# identify what the columns should be called
headers = df_t.iloc[0]

In [15]:
headers

0    department
Name: department_id, dtype: object

In [17]:
# subset the df starting from the 1st row through the end
df_t_new = df_t[1:]

In [19]:
# assign the column names to the headers
df_t_new.columns = headers

In [20]:
# this looks much better!
df_t_new.head()

department_id department
1                 frozen
2                  other
3                 bakery
4                produce
5                alcohol

In [27]:
# this df would be more useful as a dictionary
# using 'index' as an argument is important so that the index is used as the defining part of the dictionary
data_dict = df_t_new.to_dict('index')

In [28]:
data_dict

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

In [29]:
# access info in two different ways
print(data_dict.get('17'))

{'department': 'household'}

In [30]:
data_dict['17']

{'department': 'household'}

In [31]:
# list of all the identifiers in the dictionary
data_dict.keys()

dict_keys(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21'])

## 04 Export

In [ ]:
df_dep_t_new.to_csv(os.path.join(path, '02 Data', 'prepared data', 'departments_wrangled.csv'))