### Contents:
    01 Importing libraries and data
    02 Data exploration
    03 Cleaning
        a down sample data types
        b outliers
        c missing values
        d duplicates
    04 Export

# Cleaning order_products_prior df

## 01 Importing libraries and data

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/Emily/Documents/CF Data Analysis Program/Immersion 4/Instacart Basket Analysis'

In [3]:
df = pd.read_csv(os.path.join(path, '02 Data', 'original data', 'order_products__prior.csv'), index_col = False)

## 02 Initial exploration

In [4]:
# view the top 5 rows and all column names
df.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [5]:
# check out the shape of the df (rows and columns)
df.shape

(32434489, 4)

In [6]:
# check out the descriptive stats of whole df
# df.describe() would have just shown info for the numeric columns
df.describe(include = 'all')

           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

## 03 Cleaning up

### a) Data types

In [8]:
# check out the data type of each column
# can also use df.dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [9]:
# Check for mixed-type data
# no mixed data!
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

In [10]:
# for memory saving, change data types to ones that require less memory
df['order_id'] = df['order_id'].astype('int32')
df['product_id'] = df['product_id'].astype('int32')
df['add_to_cart_order'] = df['add_to_cart_order'].astype('uint8')
df['reordered'] = df['reordered'].astype('int8')

In [11]:
# this reduced the memory size by more than 1/3 -- yay!
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int32
 1   product_id         int32
 2   add_to_cart_order  uint8
 3   reordered          int8
dtypes: int32(2), int8(1), uint8(1)
memory usage: 309.3 MB

### b) Outlier identification

In [13]:
# this seems good
df['add_to_cart_order'].value_counts(dropna = False)

1      3214874
2      3058126
3      2871133
4      2664106
5      2442025
        ...
141          1
142          1
143          1
144          1
145          1
Name: add_to_cart_order, Length: 145, dtype: int64

In [14]:
# this column is just a binary
df['reordered'].value_counts(dropna = False)

1    19126536
0    13307953
Name: reordered, dtype: int64

### c) Missing values

In [15]:
# find which column any missing values are in
# no missing values here!
df.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

### d) Duplicates

In [16]:
# check to see if any records are exact duplicates
# no dups here!
df[df.duplicated()]

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

## 04 Export

In [17]:
df.to_csv(os.path.join(path, '02 Data', 'prepared data', 'orders_products_clean.csv'))