### Contents:
    01 Importing libraries and data
    02 Practice
        a Mixed data types
        b Missing values
        c Duplicates
    03 Export

# Exercise 4.5

## 01 Importing libraries and data

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/Emily/Documents/CF Data Analysis Program/Immersion 4/Instacart Basket Analysis'

In [3]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'prepared data', 'orders_wrangled.csv'), index_col = False)

In [4]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'original data', 'products.csv'), index_col = False)

## 02 Practice

### a) Mixed Data types

In [5]:
# create a mixed-type dataframe, initialized using pandas
df_test = pd.DataFrame()

In [6]:
df_test['mix'] = ['a', 'b', 1, True]

In [7]:
df_test

    mix
0     a
1     b
2     1
3  True

In [8]:
# check for mixed types and return which columns have mixed types

for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [9]:
df_test[['mix']].applymap(type)

              mix
0   <class 'str'>
1   <class 'str'>
2   <class 'int'>
3  <class 'bool'>

In [10]:
df_test[['mix']].iloc[0].apply(type)

mix    <class 'str'>
Name: 0, dtype: object

In [11]:
df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)

     mix
0  False
1  False
2   True
3   True

In [12]:
(df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)

0    False
1    False
2     True
3     True
dtype: bool

In [13]:
df_test[weird]

    mix
2     1
3  True

In [14]:
len(df_test[weird])

2

In [15]:
# selecting to make all elements in 'mix' column strings'
df_test['mix'] = df_test['mix'].astype('str')

### b) Missing values

In [16]:
# find where the missing values are in the df
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [17]:
# locate only those records that have the missing data (only one column at a time)
df_prods_nan = df_prods[df_prods['product_name'].isnull() == True]

In [18]:
# check out all the records with no product_name
df_prods_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [19]:
# for missing values: can't impute, flagging doesn't make sense, so let's filter them out
# check initial shape of df_prods
df_prods.shape

(49693, 5)

In [20]:
# filter by taking just the records that are complete (no null values)
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [21]:
df_prods_clean.shape

(49677, 5)

In [22]:
# the new one should have 16 fewer rows than the og
49693 - 49677

16

### c) Duplicates

In [23]:
# check what the inner function does
df_prods_clean.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
49688    False
49689    False
49690    False
49691    False
49692    False
Length: 49677, dtype: bool

In [24]:
# create a subset of the records that are duplicated
df_prods_clean[df_prods_clean.duplicated()]

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [25]:
# drop the duplicates with pandas' handy function
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [26]:
# this should be 5 rows smaller than the clean version
df_prods_clean_no_dups.shape

(49672, 5)

In [27]:
49677 - 49672

5

## 03 Export

In [28]:
# export to save work!
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data', 'prepared data', 'products_checked.csv'))

In [30]:
df_prods_clean_no_dups.describe()

         product_id      aisle_id  department_id        prices
count  49672.000000  49672.000000   49672.000000  49672.000000
mean   24850.349775     67.762442      11.728942      9.993282
std    14340.705287     38.315784       5.850779    453.615536
min        1.000000      1.000000       1.000000      1.000000
25%    12432.750000     35.000000       7.000000      4.100000
50%    24850.500000     69.000000      13.000000      7.100000
75%    37268.250000    100.000000      17.000000     11.100000
max    49688.000000    134.000000      21.000000  99999.000000