### Contents:
    01 Importing libraries and data
    02 Data checks
    03 Merge \#1
    04 Merge \#2
    05 Post merge data checks
    06 Adjust data types
    07 Export

# Merging dataframes

## 01 Importing libraries and data

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/Emily/Documents/CF Data Analysis Program/Immersion 4/Instacart Basket Analysis'

In [3]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'prepared data', 'orders_clean.csv'), index_col = 0)

In [4]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'prepared data', 'products_clean.csv'), index_col = 0)

In [5]:
df_items = pd.read_csv(os.path.join(path, '02 Data', 'prepared data', 'orders_products_clean.csv'), index_col = 0)

## 02 Make sure everything looks good

In [6]:
df_ords.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [7]:
df_ords.shape

(3421083, 6)

In [8]:
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   order_day_of_week       int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
dtypes: float64(1), int64(5)
memory usage: 182.7 MB

In [9]:
df_ords['order_number'] = df_ords['order_number'].astype('int8')
df_ords['order_day_of_week'] = df_ords['order_day_of_week'].astype('int8')
df_ords['order_hour_of_day'] = df_ords['order_hour_of_day'].astype('int8')
df_ords['user_id'] = df_ords['user_id'].astype('int32')
df_ords['order_id'] = df_ords['order_id'].astype('int32')
df_ords['days_since_prior_order'] = df_ords['days_since_prior_order'].astype('float16')

In [10]:
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   order_day_of_week       int8
 4   order_hour_of_day       int8
 5   days_since_prior_order  float16
dtypes: float16(1), int32(2), int8(3)
memory usage: 68.5 MB

In [11]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [12]:
df_prods.shape

(49693, 5)

In [13]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49693 entries, 0 to 49692
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49693 non-null  int64
 1   product_name   49677 non-null  object
 2   aisle_id       49693 non-null  int64
 3   department_id  49693 non-null  int64
 4   prices         49691 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 2.3+ MB

In [14]:
df_prods['department_id'] = df_prods['department_id'].astype('int8')
df_prods['aisle_id'] = df_prods['aisle_id'].astype('int16')
df_prods['product_id'] = df_prods['product_id'].astype('int32')
df_prods['prices'] = df_prods['prices'].astype('float32')

In [15]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49693 entries, 0 to 49692
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49693 non-null  int32
 1   product_name   49677 non-null  object
 2   aisle_id       49693 non-null  int16
 3   department_id  49693 non-null  int8
 4   prices         49691 non-null  float32
dtypes: float32(1), int16(1), int32(1), int8(1), object(1)
memory usage: 1.3+ MB

In [16]:
df_items.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [17]:
df_items.shape

(32434489, 4)

In [18]:
df_items.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 1.2 GB

In [19]:
df_items['order_id'] = df_items['order_id'].astype('int32')
df_items['product_id'] = df_items['product_id'].astype('int32')
df_items['add_to_cart_order'] = df_items['add_to_cart_order'].astype('uint8')
df_items['reordered'] = df_items['reordered'].astype('int8')

In [20]:
df_items.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int32
 1   product_id         int32
 2   add_to_cart_order  uint8
 3   reordered          int8
dtypes: int32(2), int8(1), uint8(1)
memory usage: 556.8 MB

## 03 The urge to merge! (Big items list with orders)

In [21]:
df_ords_items = df_ords.merge(df_items, how = 'inner', on = 'order_id')

In [22]:
df_ords_items.shape

(32434489, 9)

In [23]:
df_ords_items.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

In [24]:
df_ords_items.tail()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
32434484,2977660,206209,13,1,12,7.0,14197,5,1
32434485,2977660,206209,13,1,12,7.0,38730,6,0
32434486,2977660,206209,13,1,12,7.0,31477,7,0
32434487,2977660,206209,13,1,12,7.0,6567,8,0
32434488,2977660,206209,13,1,12,7.0,22920,9,0

In [25]:
df_ords_items.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 9 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   order_day_of_week       int8
 4   order_hour_of_day       int8
 5   days_since_prior_order  float16
 6   product_id              int32
 7   add_to_cart_order       uint8
 8   reordered               int8
dtypes: float16(1), int32(3), int8(4), uint8(1)
memory usage: 835.2 MB

## 04 The urge to merge again! (new big list with product df)

In [26]:
df_big = df_ords_items.merge(df_prods, on = 'product_id', how = 'outer', indicator = True)

## 05 Basic checks on new new df

In [27]:
df_big.shape

(32436252, 14)

In [28]:
df_big.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329.0,1.0,1.0,2.0,8.0,NaN,196,1.0,0.0,Soda,77.0,7.0,9.0,both
1,2398795.0,1.0,2.0,3.0,7.0,15.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both
2,473747.0,1.0,3.0,3.0,12.0,21.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both
3,2254736.0,1.0,4.0,4.0,7.0,29.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both
4,431534.0,1.0,5.0,4.0,15.0,28.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both

In [29]:
# check on how the outer merge breaks down
df_big['_merge'].value_counts()

both          32434212
left_only         2029
right_only          11
Name: _merge, dtype: int64

In [30]:
# both is the most valuable (could have accomplished this with inner merge)
# left_only means a product number isn't found in the products list
# right_only means a product was never purchased
df_big.loc[df_big['_merge'] == 'left_only']

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
12039117,7099.0,27.0,63.0,3.0,10.0,1.0,6799,1.0,0.0,NaN,NaN,NaN,NaN,left_only
12039118,1837192.0,27.0,80.0,2.0,8.0,6.0,6799,9.0,1.0,NaN,NaN,NaN,NaN,left_only
12039119,2915432.0,298.0,1.0,4.0,14.0,NaN,6799,2.0,0.0,NaN,NaN,NaN,NaN,left_only
12039120,613874.0,298.0,3.0,1.0,12.0,14.0,6799,2.0,1.0,NaN,NaN,NaN,NaN,left_only
12039121,690386.0,479.0,1.0,3.0,17.0,NaN,6799,7.0,0.0,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30882293,1405103.0,194090.0,21.0,1.0,12.0,9.0,26519,11.0,1.0,NaN,NaN,NaN,NaN,left_only
30882294,635307.0,194090.0,35.0,2.0,21.0,3.0,26519,1.0,1.0,NaN,NaN,NaN,NaN,left_only
30882295,1940566.0,194090.0,40.0,4.0,21.0,11.0,26519,9.0,1.0,NaN,NaN,NaN,NaN,left_only
30882296,550657.0,198251.0,63.0,1.0,16.0,1.0,26519,4.0,0.0,NaN,NaN,NaN,NaN,left_only
30882297,723935.0,200065.0,12.0,2.0,12.0,21.0,26519,19.0,0.0,NaN,NaN,NaN,NaN,left_only

In [42]:
df_big_both = df_big.loc[df_big['_merge'] == 'both']

In [45]:
# check data types... yikes, that's a big file!
df_big_both.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434212 entries, 0 to 32436240
Data columns (total 14 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                float64
 1   user_id                 float64
 2   order_number            float64
 3   order_day_of_week       float64
 4   order_hour_of_day       float64
 5   days_since_prior_order  float16
 6   product_id              int32
 7   add_to_cart_order       float64
 8   reordered               float64
 9   product_name            object
 10  aisle_id                float64
 11  department_id           float64
 12  prices                  float32
 13  _merge                  category
dtypes: category(1), float16(1), float32(1), float64(9), int32(1), object(1)
memory usage: 3.0+ GB

## 06 Adjust data types

In [47]:
df_big_both['order_id'] = df_big_both['order_id'].astype('int32')
df_big_both['product_id'] = df_big_both['product_id'].astype('int32')
df_big_both['add_to_cart_order'] = df_big_both['add_to_cart_order'].astype('uint8')
df_big_both['reordered'] = df_big_both['reordered'].astype('int8')
df_big_both['department_id'] = df_big_both['department_id'].astype('int8')
df_big_both['aisle_id'] = df_big_both['aisle_id'].astype('int16')
df_big_both['prices'] = df_big_both['prices'].astype('float32')
df_big_both['order_number'] = df_big_both['order_number'].astype('int8')
df_big_both['order_day_of_week'] = df_big_both['order_day_of_week'].astype('int8')
df_big_both['order_hour_of_day'] = df_big_both['order_hour_of_day'].astype('int8')
df_big_both['user_id'] = df_big_both['user_id'].astype('int32')
df_big_both['days_since_prior_order'] = df_big_both['days_since_prior_order'].astype('float16')

/var/folders/k5/g_rc3lgx7x9d6wvbtl981b340000gn/T/ipykernel_7592/122981002.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_big_both['order_id'] = df_big_both['order_id'].astype('int32')
/var/folders/k5/g_rc3lgx7x9d6wvbtl981b340000gn/T/ipykernel_7592/122981002.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_big_both['product_id'] = df_big_both['product_id'].astype('int32')
/var/folders/k5/g_rc3lgx7x9d6wvbtl981b340000gn/T/ipykernel_7592/122981002.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_big_both['add_to_cart_order'] = df_big_both['add_to_cart_order'].astype('uint8')
/var/folders/k5/g_rc3lgx7x9d6wvbtl981b340000gn/T/ipykernel_7592/122981002.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_big_both['reordered'] = df_big_both['reordered'].astype('int8')
/var/folders/k5/g_rc3lgx7x9d6wvbtl981b340000gn/T/ipykernel_7592/122981002.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_big_both['department_id'] = df_big_both['department_id'].astype('int8')
/var/folders/k5/g_rc3lgx7x9d6wvbtl981b340000gn/T/ipykernel_7592/122981002.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_big_both['aisle_id'] = df_big_both['aisle_id'].astype('int16')
/var/folders/k5/g_rc3lgx7x9d6wvbtl981b340000gn/T/ipykernel_7592/122981002.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_big_both['prices'] = df_big_both['prices'].astype('float32')
/var/folders/k5/g_rc3lgx7x9d6wvbtl981b340000gn/T/ipykernel_7592/122981002.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_big_both['order_number'] = df_big_both['order_number'].astype('int8')
/var/folders/k5/g_rc3lgx7x9d6wvbtl981b340000gn/T/ipykernel_7592/122981002.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_big_both['order_day_of_week'] = df_big_both['order_day_of_week'].astype('int8')
/var/folders/k5/g_rc3lgx7x9d6wvbtl981b340000gn/T/ipykernel_7592/122981002.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_big_both['order_hour_of_day'] = df_big_both['order_hour_of_day'].astype('int8')
/var/folders/k5/g_rc3lgx7x9d6wvbtl981b340000gn/T/ipykernel_7592/122981002.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_big_both['user_id'] = df_big_both['user_id'].astype('int32')
/var/folders/k5/g_rc3lgx7x9d6wvbtl981b340000gn/T/ipykernel_7592/122981002.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_big_both['days_since_prior_order'] = df_big_both['days_since_prior_order'].astype('float16')

In [48]:
df_big_both.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434212 entries, 0 to 32436240
Data columns (total 14 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   order_day_of_week       int8
 4   order_hour_of_day       int8
 5   days_since_prior_order  float16
 6   product_id              int32
 7   add_to_cart_order       uint8
 8   reordered               int8
 9   product_name            object
 10  aisle_id                int16
 11  department_id           int8
 12  prices                  float32
 13  _merge                  category
dtypes: category(1), float16(1), float32(1), int16(1), int32(3), int8(5), object(1), uint8(1)
memory usage: 1.3+ GB

## 07 Export

In [49]:
df_big_both.to_pickle(os.path.join(path, '02 Data', 'prepared data', 'df_big.pkl'))