### Contents:
    01 Importing libraries and data
    02 Data checking
    03 The big merge
    04 Post-merge checks
    05 Export to pkl

# Task 4.6

## 01 Importing libraries and data

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/Emily/Documents/CF Data Analysis Program/Immersion 4/Instacart Basket Analysis'

In [3]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'prepared data', 'products_checked.csv'), index_col = 0)

In [5]:
orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'prepared data', 'orders_products_combined.pkl'))

## 02 Checking dfs shape

In [6]:
orders_products_combined.shape

(32434489, 10)

In [11]:
orders_products_combined.columns.tolist()

['order_id',
 'user_id',
 'order_number',
 'order_day_of_week',
 'order_hour_of_day',
 'days_since_prior_order',
 'first_order',
 'product_id',
 'add_to_cart_order',
 'reordered']

In [7]:
df_prods.shape

(49672, 5)

In [12]:
df_prods.columns.tolist()

['product_id', 'product_name', 'aisle_id', 'department_id', 'prices']

## 03 The big merge

In [14]:
orders_products_merged = orders_products_combined.merge(df_prods, on = 'product_id', how = 'outer', indicator = True)

## 04 Post-merge checks

In [19]:
orders_products_merged.shape

(32435070, 15)

In [15]:
orders_products_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329.0,1.0,1.0,2.0,8.0,NaN,True,196,1.0,0.0,Soda,77.0,7.0,9.0,both
1,2398795.0,1.0,2.0,3.0,7.0,15.0,False,196,1.0,1.0,Soda,77.0,7.0,9.0,both
2,473747.0,1.0,3.0,3.0,12.0,21.0,False,196,1.0,1.0,Soda,77.0,7.0,9.0,both
3,2254736.0,1.0,4.0,4.0,7.0,29.0,False,196,1.0,1.0,Soda,77.0,7.0,9.0,both
4,431534.0,1.0,5.0,4.0,15.0,28.0,False,196,1.0,1.0,Soda,77.0,7.0,9.0,both

In [17]:
# used and outer join so that we can actually see the _merge column flag which things are not found in both dfs
orders_products_merged['_merge'].value_counts()

both          32404859
left_only        30200
right_only          11
Name: _merge, dtype: int64

In [29]:
# these orders listed product numbers that were not listed in the products list
df_left_only = orders_products_merged[orders_products_merged['_merge'] == 'left_only']
df_left_only

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
12039117,7099.0,27.0,63.0,3.0,10.0,1.0,False,6799,1.0,0.0,NaN,NaN,NaN,NaN,left_only
12039118,1837192.0,27.0,80.0,2.0,8.0,6.0,False,6799,9.0,1.0,NaN,NaN,NaN,NaN,left_only
12039119,2915432.0,298.0,1.0,4.0,14.0,NaN,True,6799,2.0,0.0,NaN,NaN,NaN,NaN,left_only
12039120,613874.0,298.0,3.0,1.0,12.0,14.0,False,6799,2.0,1.0,NaN,NaN,NaN,NaN,left_only
12039121,690386.0,479.0,1.0,3.0,17.0,NaN,True,6799,7.0,0.0,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32413293,1514902.0,179816.0,4.0,5.0,20.0,5.0,False,69,11.0,1.0,NaN,NaN,NaN,NaN,left_only
32413294,3287190.0,179816.0,5.0,6.0,13.0,8.0,False,69,4.0,1.0,NaN,NaN,NaN,NaN,left_only
32413295,2943026.0,179816.0,8.0,0.0,15.0,10.0,False,69,14.0,1.0,NaN,NaN,NaN,NaN,left_only
32413296,2108832.0,179816.0,15.0,2.0,13.0,6.0,False,69,12.0,1.0,NaN,NaN,NaN,NaN,left_only
32413297,1077336.0,202849.0,52.0,1.0,11.0,5.0,False,69,27.0,0.0,NaN,NaN,NaN,NaN,left_only

In [30]:
# frequency of missing product numbers
df_left_only['product_id'].value_counts()

1511     13397
34        6536
116       4359
6799      1978
4790      1804
2240      1689
262        179
3230        55
26519       51
1780        39
2586        29
69          19
525         18
4283        17
40440       13
3736         8
3159         5
38183        4
Name: product_id, dtype: int64

In [24]:
# these are produtcs that are available, but were not ordered
orders_products_merged[orders_products_merged['_merge'] == 'right_only']

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
32435059,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3630,NaN,NaN,Protein Granola Apple Crisp,57.0,14.0,2.6,right_only
32435060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3718,NaN,NaN,Wasabi Cheddar Spreadable Cheese,21.0,16.0,12.0,right_only
32435061,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7045,NaN,NaN,Unpeeled Apricot Halves in Heavy Syrup,88.0,13.0,6.8,right_only
32435062,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25383,NaN,NaN,Chocolate Go Bites,61.0,19.0,1.8,right_only
32435063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27499,NaN,NaN,Non-Dairy Coconut Seven Layer Bar,100.0,21.0,15.0,right_only
32435064,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36233,NaN,NaN,Water With Electrolytes,100.0,21.0,10.4,right_only
32435065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37703,NaN,NaN,Ultra Sun Blossom Liquid 90 loads Fabric Enhan...,75.0,17.0,14.3,right_only
32435066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43725,NaN,NaN,Sweetart Jelly Beans,100.0,21.0,8.1,right_only
32435067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45971,NaN,NaN,12 Inch Taper Candle White,101.0,17.0,9.8,right_only
32435068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46625,NaN,NaN,Single Barrel Kentucky Straight Bourbon Whiskey,31.0,7.0,1.7,right_only
32435069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49540,NaN,NaN,Pure Squeezed Lemonade,31.0,7.0,9.1,right_only

## 05 Exporting

In [32]:
orders_products_merged.to_pickle(os.path.join(path, '02 Data', 'prepared data', 'orders_products_merged.pkl'))