### Contents:
    01 Importing libraries
    02 Task
        a Descriptive stats
        b Find mixed-type data
        c Address mixed-type data
        d Find missing values
        e Address missing values
        f Find and address missing values

# Task 4.5

## 01 Importing libraries and data files

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/Emily/Documents/CF Data Analysis Program/Immersion 4/Instacart Basket Analysis'

In [3]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'prepared data', 'orders_wrangled.csv'), index_col = False)

In [31]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'prepared data', 'products_checked.csv'), index_col = False)

## 02 Task

### a) Descriptive stats

In [32]:
# Step 2: show the descriptive stats for df_prods
df_prods.describe()

         Unnamed: 0    product_id      aisle_id  department_id        prices
count  49672.000000  49672.000000  49672.000000   49672.000000  49672.000000
mean   24852.005053  24850.349775     67.762442      11.728942      9.993282
std    14342.265579  14340.705287     38.315784       5.850779    453.615536
min        0.000000      1.000000      1.000000       1.000000      1.000000
25%    12432.750000  12432.750000     35.000000       7.000000      4.100000
50%    24851.500000  24850.500000     69.000000      13.000000      7.100000
75%    37272.250000  37268.250000    100.000000      17.000000     11.100000
max    49692.000000  49688.000000    134.000000      21.000000  99999.000000

In [ ]:
# product_id: no numbers stand out as wrong
# aisle_id: no numbers stand out as wrong
# department_id: no numbers stand out as wrong, this corresponds to the dictionary
# prices: max price is extremely high. maybe 99999 means something else besides the price?

In [4]:
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [11]:
# why is there a weird unnamed column?
ords_header = df_ords.columns.tolist()

In [13]:
# dropped the column, and still have the index on the left side
df_ords = df_ords.drop(columns = ords_header[0])

In [15]:
df_ords.describe(include='all')

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [ ]:
# order_id: no numbers stand out as wrong
# user_id: numbers stand out as wrong
# user_id: min is 1, but Q1 is 51394 - that's a big gap
# order_day_of_week: no numbers stand out as wrong
# order_hour_of_day: no numbers stand out as wrong
# days_since_prior_order: there must be some null values, count is lower

### b) Find mixed-type data

In [18]:
# Step 3: Check for mixed-type data
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

### c) Address mixed-type data

In [ ]:
# Step 4: Fix mixed-type data
# no mixed-type data found to fix

### d) Find missing values

In [20]:
# Step 5: Check for missing values
# the only column with missing values is day_since_prior_order
# these values being null doesn't affect the rest of the data
# doesn't make sense to impute or filter out
# this could be it was the first order for that customer

df_ords.isnull().sum()

order_id                       0
user_id                        0
order_number                   0
order_day_of_week              0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

### e) Address missing values

In [21]:
# Step 6: Address missing values
# create a new column that flags first order
# no over-writing df_ords 
df_ords_clean = df_ords

In [22]:
df_ords_clean['first_order'] = df_ords_clean['days_since_prior_order'].isnull() == True

In [23]:
# check to see if the column was added
df_ords_clean.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order
0,2539329,1,1,2,8,NaN,True
1,2398795,1,2,3,7,15.0,False
2,473747,1,3,3,12,21.0,False
3,2254736,1,4,4,7,29.0,False
4,431534,1,5,4,15,28.0,False

### f) Find duplicates & address

In [34]:
# Step 7: find duplicates
# Step 8: there are no duplicates
df_ords_clean[df_ords_clean.duplicated()]

Empty DataFrame
Columns: [order_id, user_id, order_number, order_day_of_week, order_hour_of_day, days_since_prior_order, first_order]
Index: []

In [35]:
df_ords_clean.to_csv(os.path.join(path, '02 Data', 'prepared data', 'orders_checked.csv'))